<!DOCTYPE html>
<html>

<head>
  <title>PinPeolple</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Main Sidebar -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">AdminLTE</span>
      </a>
    </aside>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</body>

</html>